body{
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}

a:hover{
    text-decoration: none;
}

.app-container{
    
    min-width: 850px;
}

.search-box-wrap{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.search-box{
    min-width: 300px; 
    position: relative;
}

.search-wrap{
    display:block;
    width: 100%;
}

.search-wrap input{
    width: 80%;
}

.search-wrap button{
    width: 20%;
}

.search-suggestion-box{
    position: absolute;
    display:inline-block;
    z-index: 9999;
    width: 100%;
    overflow: auto;
    border:true;
    border: solid 1px #cccccc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-suggestion-box-content ul{
    margin: 0;    
}

.see-all-results{
    padding: 5px;
    cursor: pointer;
    background-color: #eeeeee;
}


.suggested-movie-item{
    display: flex;
    flex-direction: row;
    padding: 3px;
    border-bottom: solid 1px #cccccc;
    cursor: pointer;
    background-color: white;
}

.suggested-movie-item:hover,
.see-all-results:hover{
    background-color: blanchedalmond;
}

.suggested-movie-item img{
    align-self: center;
    margin-right: 10px;
    width:50px;
    height:60px;
}

.suggested-movie-item a {
    text-decoration: none;
    color: black;
}

.suggested-movie-item p{
    margin: 2px;
}

.result-container{
    max-width: 640px;
    min-height: 500px;
    margin-right: auto;
    margin-left: auto;
    border: #dddddd 1px solid;
    padding: 20px;
    border-radius: 10px;
}

.results-table{
    width:100%;
    margin-top: 10px;
}

.results-table tr:nth-child(odd) {
    background-color:#eeeeee;
}

.results-table tr{
    height:60px;
    padding: 15px;
}

.movie-result-item-poster{
    width:60px;
    padding-left: 5px;
}

.movie-result-item-poster img{
    width:33px;
    height:50px;
}

.movie-result-item-name p{
    font-size: 14px;
}

.movie-result-item-name a:hover{
    color: darkblue;
}

.movie-details-table {
    margin-top: 20px;
    width:100%;
}

.movie-ratings-table{
    margin-top: 20px;
}

.movie-rating-bar{
    width:60px;
    height:10px;
    background-color: red;
    border-radius: 5px;
    overflow:hidden;
}

.movie-rating-score-bar{
    height:10px;
    border:2px solid rgb(82, 255, 47);
    background-color:rgb(82, 255, 47);
}

